.container {
	min-height: 100vh;
	.icon {
		position: absolute;
		right: 20px;
		top: 15px;
		cursor: pointer;
	}
	.header {
		margin-bottom: 2rem;
	}
	.mid-container {
		margin-top: 50px;
		width: 600px;
		padding: 50px;
		background-color: #190000;
		border-radius: 5px;
		text-align: center;
		box-shadow: 12px 10px 30px #1e1e1e;
	}

	.form {
		display: flex;
		flex-direction: column;
		gap: 10px;

		input {
			padding: 10px;
			border-radius: 5px;
			width: 100%;
			border: none;
			background-color: #000000;
			color: #fff;
		}
		:focus {
			outline: none;
		}
		.add-button {
			margin-top: 20px;
			margin-bottom: -20px;
			width: 50%;
			align-self: center;
			background-color: #000000;
			cursor: pointer;
			padding: 10px;
			transition: transform 0.2s ease;
			text-transform: uppercase;
			color: rgb(255, 255, 255);
			border-radius: 20px;
			font-size: 1.1rem;
			border: none;

			&:active {
				transform: scale(0.95);
			}
		}
	}
}
